.row{
    display: flex;
    flex-direction: row;
    padding-right: 20em;
    padding-bottom: 5em;
}

.card{
    background: #F4EED9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 240px;
    width: 340;
    margin-top:19px;
}

.image{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    height: 163px;
    width: 190px;
    right: 8.24%;
    top: 0%;
    position: absolute;
}

.nameBox{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.box{
    height: 259px;
    width: 340px;
    box-shadow: 0px 3px 8px #000;
    transition: all 300ms ease-in-out;
}

.box:hover {
    box-shadow: 0px 8px 30px #222;
    width: 342px;
    height: 261px;
}

.name{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-align: center;

    /* Martinique */

    color: #323855;
}

.popularCourses{
    position: center;
  font-size: 30px;
  left: 39%;
  padding: 1em;
  color: #F4EED9;
}

.taughtBy{
    width: 116px;
    margin-top: 20px;
    position: absolute;
}

.owner{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Martinique */

    color: #323855;
}

.qualificationContainer{
    width: 116px;
    margin-top: 90px;
    position: absolute;
    margin-left: 5px;
}

.qualification{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Martinique */

    color: #323855;
}