.page {
    position: relative;
    height: 2400px;
    /* dark grey */

    background: #242424;
}

.title {
    font-style: normal;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.body {
    font-family: Inria Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.darkGrey{
    color: #242424;
}

.lightYellow{
    color: #F4EED9;
    margin-top: 20px;
}

.coursesBacking{
    background-color: #323855;
    padding-top: 50px;
    padding-bottom: 100px;
}