
  .body {
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .formikStyle {
    margin: 2rem;
    box-sizing: border-box;
  }
  
  .a {
    color: #08c;
    box-sizing: border-box;
  }
  
  .code {
    background: #eee;
    padding: .1rem;
    font-size: 13px;
    color: #ff00aa;
    box-sizing: border-box;
  }
  
  .fullNameInput {
    padding: .5rem;
    font-size: 20px;
    font-family: Consolas;
    width: 130%;
    height: 43px;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #F4EED9;
    border: 1px solid #323855;
    box-sizing: border-box;
    margin-left: 38px;
    margin-bottom: 8px;
  }

  .emailInput{
    padding: .5rem;
    font-size: 20px;
    font-family: Consolas;
    width: 130%;
    height: 43px;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #F4EED9;
    border: 1px solid #323855;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-left: 76px;
  }

  .userNameInput{
    padding: .5rem;
    font-size: 20px;
    font-family: Consolas;
    width: 130%;
    height: 43px;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #F4EED9;
    border: 1px solid #323855;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-left: 35px;
  }
  
  .input:focus {
    border-color: none;
    outline: none;
    box-sizing: border-box;
  }
  
  .input.error {
    border-color: red;
    box-sizing: border-box;
  }
  
  .label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
    box-sizing: border-box;
  }
  
  .input-feedback {
    color: red;
    margin-top: .25rem;
    box-sizing: border-box;
  }
  
  .resetButton {
    margin-left: 40%;
    padding: 12px 20px;
    border-style: none;
    background-color: #767eaf;
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
  }

  .submitButton {
    margin-left: .5rem;
    padding: 12px 20px;
    border-style: none;
    background-color: #767eaf;
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .submitButton:hover {
    background-color: #5b6092;
  }

  .resetButton:enabled:hover {
    background-color: #5b6092;
  }
  
  .resetButton:disabled {
    opacity: .5;
    cursor: not-allowed !important;
    box-sizing: border-box;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    margin-right: 8%;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: row;
    width: 130%;
    margin-top: 30px;
  } 

  .inputLabel {
    margin-top: 10px;
    white-space: nowrap;
    font-size: 18px;
  }

  .topicSelect {
    margin: 1rem 0;
    width: 130%;
    margin-top: 10px;
  }

  .selectLabel {
    font-size: 18px;
    margin-top: 10px;
  }
