.container{
    display: flex;
}
.loginSideLeft{
    background-color: rgb(50, 56, 85);
    flex: 1;
    height: 100vh;
}

.loginSideRight{
    background-color: rgb(36, 36, 36);
    flex: 1;
    height: 100vh;
}

/* .loginSplashImage{
    height: 100vw;
    width: 50vw;
} */

.loginBox{
    position: relative;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcomeSign{
    position: relative;
    background-color: rgb(244, 238, 217);
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
    height: 17%;
    padding: 10px;
}

.h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.p{
    font-size: 25px;
    margin-bottom: 10px;
}

.loginButton{
    width: 26%;
    background-color: #323855;
    border: none;
    color: white;
    padding: 12px 32px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.logoutButton{
    width: 26%;
    background-color: #7996B2;
    border: none;
    color: white;
    padding: 12px 32px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.loginText{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.logoutText{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.loginButton:hover{
    background-color: #5b6092;
    cursor: pointer;
}

.logoutButton:hover{
    background-color: #5b6092;
    cursor: pointer;
}

.loginText:visited{
    color: white;
}

.logoutText:visited{
    color: white;
}

.largeIcon {
    margin-left: 19%;
    margin-top: 28%;
    width: 55%;
}

