.page {
    position: relative;
    height: 2400px;
    /* dark grey */

    background: #242424;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 660px;
}
