.topicsText{
    
    /* Title */
    padding: 10px;
    
    font-family: Inria Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    /* Martinique */
    
    color: #242424;
}

.topicsBox {
    height: 59px;
    margin-left: 25px;
    margin-right: 25px;
    background: #F4EED9;
    border-radius: 10px;
}


.selectedBox{
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 59px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #F4EED9;
}

.firstRowPosition{
    top: 752px;
}

.secondRowPosition{
    top: 852px;
}

.thirdRowPosition{
    top: 955px;
}

.fourthRowPosition{
    top: 752px;
}

.row{
    position: absolute;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
}

.extendNavBox {
    position: absolute;
    width: 100%;
    height: 47px;
    left: 0px;

    background: rgba(0, 0, 0, 0.2);
}

.bigTopicBoxOneRow {
    top: 852px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.bigTopicBoxTwoRow {
    top: 955px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.bigTopicBoxThreeRow {
    top: 1058px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.arrow {
    border: solid #F4EED9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-135deg);
    padding: 3px;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    position: relative;
}

.topicName {
    align-content: center;
    height: 77px;
    font-family: Inria Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #F4EED9;
}

.topicNameContainer {
    text-align: center;
    margin-top: 5%;
}

.descriptionBox {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;

    /* Spring wood */

    background: #F4EED9;
}

.descriptionText {
    width: 866px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;

    /* Body */

    font-family: Inria Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}