.topicsText{
    
    /* Title */
    padding: 10px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    
    /* Martinique */
    
    color: #242424;
    text-align: center;
}

.topicsBox {
    height: 59px;
    margin-left: 50px;
    margin-right: 50px;
    background: #F4EED9;
    border-radius: 10px;
}

.selectedBox{
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 59px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #F4EED9;
}

.topicsBox:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #F4EED9;
    cursor: pointer;
}



.firstRowPosition{
    top: 770px;
}

.secondRowPosition{
    top: 870px;
}

.thirdRowPosition{
    top: 955px;
}

.fourthRowPosition{
    top: 752px;
}

.row{
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: row;
}

.extendNavBox {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;

    background: rgba(0, 0, 0, 0.2);
}

.bigTopicBoxOneRow {
    top: 852px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.bigTopicBoxTwoRow {
    top: 955px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.bigTopicBoxThreeRow {
    top: 1058px;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 0px;

    /* Martinique */

    background: #323855;
}

.arrow {
    border: solid #F4EED9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-135deg);
    padding: 3px;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    position: relative;
    margin-top: 17px;
}

.topicName {
    align-content: center;
    height: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 150px;
    color: #F4EED9;
}

.topicNameOneRow {
    text-align: center;
    top: 910px;
    margin-top: 40px;
}
.topicNameTwoRow {
    text-align: center;
    top: 1013px;
    margin-top: 40px;
}

.topicNameThreeRow {
    top: 1116px;
    text-align: center;
    margin-top: 40px;
}

.descriptionBox {
    width: 100%;
    left: 0px;
    margin-top: 180;

    /* Spring wood */

    background: #F4EED9;
}

.descriptionText {
    width: 866px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 25px;

    /* Body */

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}