.dot {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    margin-bottom: -30px;
    border: 1px solid #c4c4c4;
    background: white;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
  }
  .dot-active {
    background: #c4c4c4;
    border-color: white;
  }
  
  .leftBtn,
  .rightBtn {
    top: 60%;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 0%;
    font-size: 6rem;
    font-weight: bold;
    position: absolute;
    padding: 0px 5px;
    cursor: pointer;
    color: white;
  }
  .leftBtn {
    left: 10%;
  }
  .rightBtn {
    right: 10%;
  }